/* The switch - the box around the slider */
label > .switchh {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.sliderr {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff3300;
    -webkit-transition: .4s;
    transition: .4s;
;
}

.sliderr:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .sliderr {
    background-color: #33cc33;
}

input:focus + .sliderr {
    box-shadow: 0 0 1px #33cc33;
}

input:checked + .sliderr:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.sliderr.round {
    border-radius: 8px;
}

.sliderr.round:before {
    border-radius: 50%;
}

.checkCSS {
    background-color: #00aa00 !important;
    border: dotted 3px;
    padding: 100px;
    margin:100px;
}

.blank_row
{
    height: 30px !important; /* overwrites any other rules */
    background-color: #FFFFFF !important;
}

